.banner1-wrapper {
  display: contents;
}
 
.banner1-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner1-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-title {
  text-align: center;
}
 
.banner1-text1 {
  text-align: center;
}
 
.banner1-navlink {
  text-decoration: none;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
  font-family: "Raleway";
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
  font-size: 18px;
  font-family: "Raleway";
}
 
.home-text12 {
  font-style: normal;
  font-weight: 300;
}
 
.banner1root-class-name {
  background-color: #D9D9D9;
}

.feature-card-wrapper {
  display: contents;
}
 
.feature-card-container {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-card-text1 {
  font-weight: 600;
  line-height: 28px;
}
 
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.feature-card-wrapper-trwo {
  display: contents;
}
 
.feature-card-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-card-text3 {
  font-weight: 600;
  line-height: 28px;
}
 
@media(max-width: 767px) {
  .feature-card-feature-card1 {
    flex-direction: row;
  }
  .feature-card-container1 {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container1 {
    flex-direction: column;
  }
}

.feature-card-wrapper-t264 {
  display: contents;
}
 
.feature-card-container2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-card-text5 {
  font-weight: 600;
  line-height: 28px;
}
 
@media(max-width: 767px) {
  .feature-card-feature-card2 {
    flex-direction: row;
  }
  .feature-card-container2 {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container2 {
    flex-direction: column;
  }
}

.feature-card-wrapper-r2tj {
  display: contents;
}
 
.feature-card-container3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.feature-card-text7 {
  font-weight: 600;
  line-height: 28px;
}
 
@media(max-width: 767px) {
  .feature-card-feature-card3 {
    flex-direction: row;
  }
  .feature-card-container3 {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container3 {
    flex-direction: column;
  }
}

.question1-wrapper {
  display: contents;
}
 
.question1-container {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.question1-text1 {
  font-weight: 700;
}

.question1-wrapper-cmfi {
  display: contents;
}
 
.question1-container1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.question1-text3 {
  font-weight: 700;
}

.question1-wrapper-8ais {
  display: contents;
}
 
.question1-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.question1-text5 {
  font-weight: 700;
}

.question1-wrapper-chkp {
  display: contents;
}
 
.question1-container3 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.question1-text7 {
  font-weight: 700;
}

.question1-wrapper-du6k {
  display: contents;
}
 
.question1-container4 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.question1-text9 {
  font-weight: 700;
}

.home-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.home-navbar-interactive {
  height: 76px;
}
 
.home-logo1 {
  left: 68px;
  bottom: -7px;
  position: absolute;
}
 
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.home-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-nav12 {
  transition: 0.3s;
}
 
.home-nav21 {
  transition: 0.3s;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-nav31 {
  transition: 0.3s;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-nav41 {
  transition: 0.3s;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-nav51 {
  transition: 0.3s;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-burger-menu {
  display: none;
}
 
.home-icon10 {
  width: var(--dl-layout-size-xsmall);
  cursor: pointer;
  height: var(--dl-layout-size-xsmall);
}
 
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
 
.home-nav6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon12 {
  width: var(--dl-layout-size-xsmall);
  cursor: pointer;
  height: var(--dl-layout-size-xsmall);
}
 
.home-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-nav11 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-nav22 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-nav32 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-nav42 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-nav52 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-buttons {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-image {
  left: 23px;
  width: 45px;
  bottom: 6px;
  position: absolute;
  object-fit: cover;
}
 
.home-hero1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 96px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
  font-size: 18px;
  font-family: "Raleway";
}
 
.home-text12 {
  font-style: normal;
  font-weight: 300;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
  font-family: "Raleway";
}
 
.home-hero2 {
  display: none;
}
 
.home-container11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-hero-heading {
  color: var(--dl-color-gray-black);
  font-size: 48px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 150%;
}
 
.home-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
 
.home-btn-group {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-hero-button1 {
  text-decoration: none;
}
 
.home-hero-button2 {
  text-decoration: none;
}
 
.home-features1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-features2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-fourunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  justify-content: flex-start;
}
 
.home-container12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-features-heading {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.home-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
 
.home-container13 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
 
.home-pricing {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-services {
  position: relative;
}
 
.home-container14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-pricing-sub-heading {
  text-align: center;
}
 
.home-container15 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-container16 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text49 {
  text-transform: uppercase;
}
 
.home-container17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container18 {
  width: 100%;
  height: 299px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container19 {
  width: 100%;
  height: 249px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-container20 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container21 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features10 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container22 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features11 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container23 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features12 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container24 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features13 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container25 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features14 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container26 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features15 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container27 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text52 {
  text-transform: uppercase;
}
 
.home-container28 {
  width: 100%;
  height: 266px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-container29 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.home-container30 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features16 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container31 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features17 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container32 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features18 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container33 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features19 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container34 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features20 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-container35 {
  gap: 4px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: row;
}
 
.home-free-plan-features21 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  text-decoration: underline;
}
 
.home-link1 {
  width: 100%;
  text-decoration: none;
}
 
.home-pricing-card3 {
  height: 565px;
}
 
.home-container36 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text53 {
  text-transform: uppercase;
}
 
.home-link2 {
  width: 100%;
  text-decoration: none;
}
 
.home-banner1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-banner2 {
  background-color: var(--dl-color-custom-primary2);
}
 
.home-banner-heading {
  text-align: center;
}
 
.home-banner-sub-heading {
  max-width: var(--dl-layout-size-maxwidth);
  margin-top: var(--dl-layout-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-banner-button {
  text-decoration: none;
}
 
.home-faq1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-faq2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fourunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fourunits);
}
 
.home-container37 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text67 {
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.home-text68 {
  text-align: left;
}
 
.home-container38 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-footer1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-container39 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-nav7 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
 
.home-nav13 {
  margin-left: 0px;
  text-decoration: none;
}
 
.home-nav23 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-nav33 {
  margin-left: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-nav43 {
  margin-left: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-nav53 {
  margin-left: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.home-container40 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon20 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon22 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon24 {
  width: 24px;
  height: 24px;
}
 
@media(max-width: 991px) {
  .home-hero2 {
    flex-direction: column;
  }
  .home-container11 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
  .home-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
  }
  .home-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
  }
  .home-pricing-sub-heading {
    text-align: center;
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
  }
  .home-container15 {
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card1 {
    width: 100%;
    padding: var(--dl-layout-space-twounits);
    max-width: 450px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
  }
  .home-pricing-card3 {
    width: 100%;
    max-width: 450px;
  }
  .home-banner-sub-heading {
    max-width: 100%;
  }
  .home-text68 {
    text-align: center;
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-nav11 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-nav22 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-nav32 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-nav42 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-nav52 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-hero2 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-hero-sub-heading {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-features2 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-features-sub-heading {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-container13 {
    grid-template-columns: 1fr;
  }
  .home-pricing-sub-heading {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-container15 {
    align-items: center;
    flex-direction: column;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-pricing-card3 {
    width: 100%;
    max-width: 450px;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-banner2 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-banner-sub-heading {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-faq2 {
    flex-direction: column;
  }
  .home-container37 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text68 {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-footer2 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-layout-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-container40 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text71 {
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .home-mobile-menu1 {
    padding: 16px;
  }
  .home-hero2 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-container11 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-features2 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-pricing-card3 {
    margin-bottom: 0px;
  }
  .home-banner2 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-footer2 {
    padding: var(--dl-layout-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-layout-space-oneandhalfunits);
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-container40 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text71 {
    text-align: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
