.hero9-header30 {
  gap: var(--dl-layout-space-twounits);
  align-items: center;
  justify-content: center;
}
 
.hero9-container {
  left: 153px;
  width: 752px;
  bottom: -4px;
  height: 101px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,0.7);
}
 
.hero9-text1 {
  align-self: center;
  text-align: center;
  font-family: "Raleway";
}
 
.hero9-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
 
.hero9-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.hero9-actions {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.hero9-fragment {
  display: contents;
}
 
.hero9-text2 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .hero9-text1 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .hero9-actions {
    width: 100%;
    flex-direction: column;
  }
}
