.pricing8-pricing23 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.pricing8-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.pricing8-column1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: #ffffff;
}
 
.pricing8-price10 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-price11 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-text10 {
  font-size: 30px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 800;
}
 
.pricing8-button1 {
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  background-color: #bf4408;
}
 
.pricing8-text11 {
  font-family: "Raleway";
}
 
.pricing8-column2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: #ffffff;
}
 
.pricing8-price12 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-price13 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-text12 {
  font-size: 30px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 600;
}
 
.pricing8-button2 {
  width: 100%;
  font-family: "Raleway";
  text-decoration: none;
}
 
.pricing8-text13 {
  font-family: "Raleway";
}
 
.pricing8-container2 {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.pricing8-column3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.pricing8-icon10 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-price14 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-price15 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-text15 {
  font-size: 48px;
}
 
.pricing8-list1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-list-item10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-button3 {
  width: 100%;
}
 
.pricing8-column4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.pricing8-icon22 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-price16 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-price17 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-text21 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-text22 {
  font-size: 48px;
}
 
.pricing8-list2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-list-item13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-button4 {
  width: 100%;
}
 
.pricing8-column5 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
 
.pricing8-icon32 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-end;
}
 
.pricing8-price18 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-price19 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing8-text29 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing8-text30 {
  font-size: 48px;
}
 
.pricing8-list3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing8-list-item17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-list-item21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing8-button5 {
  width: 100%;
}
 
.pricing8-fragment10 {
  display: contents;
}
 
.pricing8-text38 {
  display: inline-block;
}
 
.pricing8-fragment11 {
  display: contents;
}
 
.pricing8-text39 {
  display: inline-block;
}
 
.pricing8-fragment12 {
  display: contents;
}
 
.pricing8-text40 {
  display: inline-block;
}
 
.pricing8-fragment13 {
  display: contents;
}
 
.pricing8-text41 {
  display: inline-block;
}
 
.pricing8-fragment14 {
  display: contents;
}
 
.pricing8-text42 {
  display: inline-block;
}
 
.pricing8-fragment15 {
  display: contents;
}
 
.pricing8-text43 {
  display: inline-block;
}
 
.pricing8-fragment16 {
  display: contents;
}
 
.pricing8-text44 {
  display: inline-block;
}
 
.pricing8-fragment17 {
  display: contents;
}
 
.pricing8-text45 {
  display: inline-block;
}
 
.pricing8-fragment18 {
  display: contents;
}
 
.pricing8-text46 {
  display: inline-block;
}
 
.pricing8-fragment19 {
  display: contents;
}
 
.pricing8-text47 {
  display: inline-block;
}
 
.pricing8-fragment20 {
  display: contents;
}
 
.pricing8-text48 {
  display: inline-block;
}
 
.pricing8-fragment21 {
  display: contents;
}
 
.pricing8-text49 {
  display: inline-block;
}
 
.pricing8-fragment22 {
  display: contents;
}
 
.pricing8-text50 {
  display: inline-block;
}
 
.pricing8-fragment23 {
  display: contents;
}
 
.pricing8-text51 {
  display: inline-block;
}
 
.pricing8-fragment24 {
  display: contents;
}
 
.pricing8-text52 {
  display: inline-block;
}
 
.pricing8-fragment25 {
  display: contents;
}
 
.pricing8-text53 {
  display: inline-block;
}
 
.pricing8-fragment26 {
  display: contents;
}
 
.pricing8-text54 {
  display: inline-block;
}
 
.pricing8-fragment27 {
  display: contents;
}
 
.pricing8-text55 {
  display: inline-block;
}
 
.pricing8-fragment28 {
  display: contents;
}
 
.pricing8-text56 {
  display: inline-block;
}
 
.pricing8-fragment29 {
  display: contents;
}
 
.pricing8-text57 {
  display: inline-block;
}
 
.pricing8-fragment30 {
  display: contents;
}
 
.pricing8-text58 {
  display: inline-block;
}
 
.pricing8-fragment31 {
  display: contents;
}
 
.pricing8-text59 {
  display: inline-block;
}
 
.pricing8-fragment32 {
  display: contents;
}
 
.pricing8-text60 {
  display: inline-block;
}
 
.pricing8-fragment33 {
  display: contents;
}
 
.pricing8-text61 {
  display: inline-block;
}
 
.pricing8-fragment34 {
  display: contents;
}
 
.pricing8-text62 {
  display: inline-block;
}
 
.pricing8-fragment35 {
  display: contents;
}
 
.pricing8-text63 {
  display: inline-block;
}
 
.pricing8-fragment36 {
  display: contents;
}
 
.pricing8-text64 {
  display: inline-block;
}
 
.pricing8-fragment37 {
  display: contents;
}
 
.pricing8-text65 {
  display: inline-block;
}
 
.pricing8root-class-name {
  background-color: #D9D9D9;
}
 
@media(max-width: 991px) {
  .pricing8-container1 {
    flex-direction: column;
  }
  .pricing8-column2 {
    width: 100%;
  }
  .pricing8-container2 {
    flex-direction: column;
  }
  .pricing8-column5 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .pricing8-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .pricing8-button1 {
    width: 100%;
  }
  .pricing8-button2 {
    width: 100%;
  }
  .pricing8-button3 {
    width: 100%;
  }
  .pricing8-button4 {
    width: 100%;
  }
  .pricing8-button5 {
    width: 100%;
  }
}
